body  {
  background-color: pink;
  font-family: Courier;
  font-size: 150%;
  color: white;
}

h1  {
  color: white;
  font-weight: bold;
}

h2  {
  color: white;
  font-weight: normal;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: hotpink;
}

a:active {
  color: red;
}

button {
  background-color: pink;  
  border: 2px solid red;
  padding: 10px 20px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: lightcoral;
  border: 2px solid red;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  transform: scale(1.2);
}
























